
*{
   margin: 0;
   padding: 0;
}
/* =========================nav-logo==================== */

.nav-logo img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    fill: rgb(4, 162, 4);
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo h1 {
    color: greenyellow;
    font-family: 'Open Sans', sans-serif;
}

/* -==================nav-container===================== */
.nav-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/banner.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 40px;
}

/*================================== button================ */
button {
    background-color: #5b6abe;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 3px 3px 6px 4px #a7e6aa inset;
}
button:hover{
    color: black;
    background: rgb(4, 162, 4);
}
.Button {
    margin-left: 0;
    margin-top: 20px;
}
/* =============banner============== */
/* ============= body content ========================= */
.body-container {
  
    text-align: start; 
    margin: 0 20px;

}

.body-container h1 {
    color: rgb(17, 247, 17);
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.body-container p {

    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ================ banner img ============================== */
.left-content img {
    width: 100%;
    height: 100%;
    
}

.right-content {
    padding: 40px;
}

@media screen and (max-width:560px) {
    .nav-logo h1 {
            font-size: 10px;
        }
        .nav-logo img{
            width: 20px;
            height: 20px;
        }
        .nav-container{
            height: 80px;
        }
        .nav-container img{
            width: 20px;
        }
      .left-content img {
        width: 300px;
        height: 400px;
       margin: 0 auto;
    }

}
/* =================page 2=================== */
/* ============content===================== */
.content {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content h1 {
    color: rgb(17, 247, 17);
    padding-bottom: 40px;
}

.content p {
    font-family: sans-serif;
    line-height: 1.5;
}

/* =====================page2 img section========================== */
.img-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-content img {
    width: 500px;
    height: 400px;
    margin-bottom: 40px;
}

/* ======================page-3=========================== */
/* ===============page3 content============================ */
.page3-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}

/* ===============page3 img-content======================== */
.left-img-content img {
    height: 300px;
    width: 400px;
    margin-bottom: 10px;

}

.left-img-content {
    display: inline;
    margin-bottom: 30px;
    padding: 30px;
}

.right-content-page3 {
    padding: 40px;
}

.right-content-page3 h1 {
    padding-bottom: 20px;
    color: rgb(17, 247, 17);
}

.right-content-page3 p {
    font-family: sans-serif;
    line-height: 1.5;
}

small {
    border-bottom: 2px solid rgb(17, 247, 17);
    font-weight: 600;
}
/* ======================footer================= */
.footer-container {
    background-image: linear-gradient(to top left, rgb(67, 108, 7), rgb(126, 175, 51));
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
}

.footer-container p {
    margin-right: 10px;

}

.social-logo {
    margin-right: 10px;
    cursor: pointer;
}

.social-logo:hover {
    fill: #fff;
}

.social-content {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}